#header {
	text-align:center;
}

#left {
	float: left;
	width: 10%;
}

#right {
	float: right;
	width: 10%;
}

#center {
    display: inline-block;
	width: 80%;
}

#debug {
	padding-top:5px;
}

#footer {
	text-align:center;
}

#player {
}

#playerCards {
	list-style-type:none;
}

.hand {
	list-style-type:none;
}

.hand li {
	display: inline;
	float: left;
	padding-left: 3px;
}

#playerCards li {
	display: inline;
	float: left;
	padding-left: 3px;
}

#playerDiscards {
	list-style-type:none;
}

#playerDiscards li {
	display: inline;
	float: left;
	padding-left: 3px;
}