#header {
	text-align:center;
}

#left {
	float: left;
	width: 10%;
}

#right {
	float: right;
	width: 10%;
}

#center {
    display: inline-block;
	width: 80%;
}

#debug {
	padding-top:5px;
}

#footer {
	text-align:center;
}

#player {
}

#computerCards {
	list-style-type:none;
}

#computerCards li {
	display: inline;
	float: left;
	padding-left: 3px;
}

#playerCards, #playerDiscards {
	list-style-type:none;
}

#playerCards li, #playerDiscards li {
	display: inline-block;
	float: left;
	padding-left: 3px;
}