<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Web Gin 0.1</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/gin.css}" href="../css/gin.css" />
    <script src="../js/jquery-1.11.3.js" th:src="@{/js/jquery-1.11.3.js}"></script>
    <script src="../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
    <script src="../js/gin.js" th:src="@{/js/gin.js}"></script>

    <script>
    $( function() {
        $( "#playerCards" ).sortable().disableSelection();

        $( "#ginForm" ).submit(
        	function( event ) {
			    // or return false
			    // false;
        	    // event.preventDefault();
        	    var cardList = $("#playerCardList")
        	    cardList.val("")

        	    var lis = $("#playerCards li")
        	    $.each( lis, function(index,l){
        	    	var curr = cardList.val()
        	    	curr = curr + "|" + $(l).text()
        	    	cardList.val(curr)
        	    })

        	    console.log(cardList.val())
        	    return true;
	    });
    });
    </script>
</head>

<body>
	<div id="main">
		<div id="header">&#x2660; <font color="red">&#x2665;</font> Welcome to Web Gin 0.1<font color="red">&#x2666;</font>  &#x2663; </div>
		<div id="content" >
			<div id="left">&nbsp;</div>
			<div id="center">
				<form id="ginForm" action="/gin" method="post">
					<div id="menu" >
					   <button name="action" value="new">New</button> <button name="action" value="save">Save</button> <button name="action" value="quit">Quit</button> <button name="action" value="cheat">Cheat</button> <button name="action" value="undo">Undo</button> <button name="action" value="settings">Settings</button>
					</div>
					<div id="score">Score : Round Vs Player</div>
					<div id="computer" >Computer:
					   <ul id="computerCards" >
					       <li th:each="card : ${computerHand}" th:utext="${card}" >xx</li>
					   </ul>
					   Action: <span th:utext="${lastTake}">Deck</span><span th:utext="${lastCard}">Card</span>
					</div>
					<div id="status" th:utext="${status}">status</div>
					<div th:if="${gameOver}" >
					  <div>Scoring</div>
					  <div>
					    <button name="action" value="next">Play Another</button>
                      </div>
					</div>
					<div id="play" >
					   <button name="action" value="discard"><span th:utext="${discardCard}">D</span></button>
					   <button name="action" value="stock"><span th:utext="${stockCard}">S</span></button>
					</div>
					<div th:if="${cheat}" >
					    <div id="discards">Discards:<span th:utext="${discardCards}">D</span></div>
					    <div id="deck">Deck:<span th:utext="${stockCards}">S</span></div>
					</div>
					<input type="hidden" name="playerCardList" id="playerCardList" value="" />
					<div id="player" >Player (discard last):
					   <ul id="playerCards" >
					       <li class="ui-state-default" th:each="card : ${playerHand}" th:utext="${card}">xx</li>
					   </ul>
					   <span> Value:<span id="deadwood" th:utext="${deadwood}">000</span> </span>
					</div>
					<div id="playerActions" >
					   <button name="action" value="drop">Discard</button>
					   <span th:switch="${canKnock}" >
					       <span th:case="${true}"><button name="action" value="knock">Knock</button></span>
					       <span th:case="${false}"><button name="action" value="knock" disabled="disabled" >Knock</button></span>
                       </span>
					</div>
				</form>
			</div>
			<div id="right">&nbsp;</div>
		</div>
		<div id="footer">Copyright Dan Rippel</div>
	</div>
</body>

</html>